**Q2 : Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.**

In [1]:
final_list = []
for i in range(2000,3201):
    if i%7 == 0 and i%5 != 0:
        final_list.append(i)
print(len(final_list))

138

In [2]:
final_list

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

**Q3 : Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.**

In [3]:
user_first_name = input()
user_last_name = input()

print("User's Name in first & last name in reverse order: ",user_first_name[::-1],user_last_name[::-1])

Vineel
Sindiri
User's Name in first & last name in reverse order:  leeniV iridniS

**Q4: Write a Python program to find the volume of a sphere with diameter 12 cm.**  
 
<u>Formula:</u> <i>V=4/3 * Ï€ * r 3</i>

In [4]:
import math

diameter = 12
radius = diameter/2

volume = (4/3)*(math.pi)*(radius**3)

print("Volume of a sphere with diameter 12 cm =",volume ,"cm^3")

Volume of a sphere with diameter 12 cm = 904.7786842338603 cm^3

**Q5 : Write a program which accepts a sequence of comma-separated numbers from console and generate a list.**

In [5]:
t = input("Please provide sequence of comma-separated numbers ")

List_of_num = list(t.split(','))
Final_list = [int(i) for i in List_of_num]
Final_list

Please provide sequence of comma-separated numbers 1,3,5,7,8

[1, 3, 5, 7, 8]

**Q6 : Create the below pattern using nested for loop in Python.** 

1  
1 1  
1 1 1
1 1 1 1

1 1 1 1 1 

1 1 1 1  
1 1 1  
1 1  
1 


- replace 1 with <b>*</b> and there should be no spaces

In [16]:
for i in range(5):
    print('*'*(i+1))
for i in reversed(range(5)):
    print('*'*i)

*
**
***
****
*****
****
***
**
*

**Q7 : Write a Python program to reverse a word after accepting the input from the user.** 
 
Sample Output: 
 
Input word: AcadGild 
 
Output: dilGdacA

In [17]:
wrd = input("Type any word")

print("Input Word :", wrd)
print("output :", wrd[::-1])

Type any wordPython
Input Word : Python
output : nohtyP

**Q8 : Write a Python Program to print the given string in the format specified in the sample output.** 

<i>WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens</i>

<b><u>Sample Output:</u></b>

![Sample Output](assign1_final_output.png)

In [23]:
print("WE, THE PEOPLE OF INDIA,\n having solemnly resolved to constitute India into a SOVEREIGN,!\n\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
 having solemnly resolved to constitute India into a SOVEREIGN,!
	 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	 and to secure to all its citizens